@model IEnumerable<aspnethwk1.ViewModels.ClientBankAccountVM>

@{
    ViewBag.Title = "Choice";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<h2>@*@Html.DisplayFor(Mo)*@ Accounts Sumamry</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Details",
                             "Details",
                             new {controller = "Home",
                                  clientID = item.ClientID,
                                  accountID  = item.AccountNum
                             }) |
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType)
        </td>
    </tr>
}

</table>
